---
import {getSession} from 'auth-astro/server';
const session = await getSession(Astro.request);
import {SignIn, SignOut} from 'auth-astro/components';

---
<nav class="navbar rounded-box flex w-full gap-2 shadow max-md:flex-col md:items-center">
  <div class="flex max-md:w-full items-center justify-between">
    <div class="navbar-start items-center justify-between max-md:w-full">
      <a class="link text-base-content/90 link-neutral text-xl font-semibold no-underline" href="#">
        FlyonUI
      </a>
      <div class="md:hidden">
        <button type="button" class="collapse-toggle btn btn-outline btn-secondary btn-sm btn-square" data-collapse="#navbar-collapse" aria-controls="navbar-collapse" aria-label="Toggle navigation">
          <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
          <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
        </button>
      </div>
    </div>
  </div>
  <div id="navbar-collapse" class="md:navbar-end collapse hidden grow basis-full overflow-hidden transition-[height] duration-300 max-md:w-full">
    <ul class="menu md:menu-horizontal gap-2 p-0 text-base">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      {session && <SignOut>Salir</SignOut> }

      {session ? 
       <div class="avatar">
            <div class="w-10 rounded-full">
              <img src={session.user.image} alt="">
            </div>
          </div>

      
      : 
      <SignIn provider="github" >
        <a class="btn max-sm:btn-square btn-primary" >
      <span class="max-sm:hidden">Acceder</span>
      <span class="icon-[tabler--arrow-right]"></span>
    </a>
		</SignIn>

    
    
      }
    </ul>
  </div>
</nav>

